.footerContainer {
    height: 200px;
    display: flex;
    align-items: end;
}

.footerContainer ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  
  .footerContainer ul li {
    list-style: none;
  }