.appContainer {
  width: 100%;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgContainer {
  width: 50%;
  height: 100%;
}

.imgContainer figure {
  width: 50%;
  height: 100%;
}

.imgContainer figure img {
  width: 100%;
  height: 100%;
}

.account {
  font-size: 1rem;
  margin: 1rem 0;
}

.loginContainer {
  margin: 2rem 0;
}

.secondExcercise {
  margin: 2rem 0;
}

.listContainer {
  width: 100%;
  list-style: none;
  padding: 1rem;
  margin: 2rem 0;
}

.listContainer div {
  width: 180px;
}

.listCity {
  padding: 0.2rem 0;
}



