* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
  --lightBlue: #00d8ff;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: rgb(45, 45, 230);
}

.d-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.d-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: 1rem 0;
  place-content: center;
}

.d-flex-row {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.m-2 {
  margin: 2rem;
}

.textCenter {
  text-align: center;
}

.textStart {
  text-align: start;
}

.textJustify {
  text-align: justify;
}

.title {
  width: 50%;
  font-size: 3rem;
}

.subtitle {
  font-size: 1.8rem;
  margin: 1.5rem 0;
}